.product_info p{
    color:rgba(70, 163, 88, 1);
    margin: 0;
}
.product_info h3{
    margin-bottom: 5px;
}
.product_carcass{
    width: 258px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}
.products_pic{
    width: 258px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.products_img{
    width: 250px;
    height: 250px;
}
.product_info{
    width: 258px;
    height: 50px;
}
.product_link{
    text-decoration: none;
}
.product_link h3{
    color: black;
}