.plantcare_main{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0 50px 0;
}
.plantcareRight,.plantcareLeft{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 49% !important;
    height: 250px !important;
    background-color:  rgba(251, 251, 251, 1);
}
.plantcarePic{
    width: 292px !important;
    height: 292px !important;
}
.plantcareText{
    width: 292px;
    height: 292px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
}
.plantcareText h3{
    margin-bottom: 0;
}
.plantcareBtn{
    padding: 10px;
    background-color: rgba(70, 163, 88, 1);
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}
.miss{
    margin-top:0 ;
}
.adaptplantcare_main{
    display: none;
}
@media screen and (max-width:480px ) {
    .adaptplantcare_main{
        display: block;
    }
    .plantcare_main{
        display: none;
    }
    .plantareImg,.plantCareImgLeft{
        width: 200px;
        height: 200px;
        margin-right: 60px;
    }
    .plantcarePic{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .plantcareRight{
        width: 384px;
    }
    .plantcareText{
        width: 126px !important;
        height: auto;
    }
    .plantCareImgLeft{
        margin-right: 100px !important; 
    }
    .plantcareTextLeft{
        width: 126px !important;
    }
    .adaptplantcare_main{
        margin-bottom: 50px;
    }
  }