.Mainpage{
    width: calc(100% - 100px);
    height: 450px;
    display: flex;
    padding: 50px;
    background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
}
.Mainpage_left{
    width: 518px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Mainpage_right{
    width: 518px;
    height: 100%;
}
.shop{
    width: 140px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color:rgba(70, 163, 88, 1);
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.green{
    color: green;
}
.Mainpage_down_header,.Mainpage_up_header{
    font-size: 70px;
}
.Mainpage_img_small{
    width: 135px;
    height: 135px;
    position: relative;
    bottom: 170px;
    left: 60px;
}
.Mainpage_down_text p{
    font-size: 14px;
}
.Mainpage_down_par{
    margin: 0;
}
.Mainpage_down_par2{
    margin-top: 0;
    margin-bottom: 60px;
}
.AdaptiveMainPage{
    display: none;
}
@media screen and (max-width:480px ) {
    .Mainpage{
        display: none;
    }
    .adaptiveMainPageImg{
        width: 100%;
        height: 100%;
        margin-bottom: -170px;
    }
    .AdaptiveMainPage{
        margin: 20px 0 0 0;
        display: block;
    }
    .adaptiveMainPageText{
        width: 206px;
        height: 114px;
        position: relative;
        bottom: 0px;
        left: 20px;
    }
    .AdaptMainLink{
        text-decoration: none;
        color: rgba(70, 163, 88, 1);
        display: flex;
        position: relative;
        bottom: 10px;
        left: 20px;
    }
    .AdaptMainLink p{
        font-size: 16px;
    }
    .Arrow{
        position: relative;
        width: 20px;
        margin-top: 4px;
        margin-left: 5px;
    }
  }