.App {
  text-align: center;

}

#root{
  padding: 0 10% ;
  width: 80%;
  height: 100%;
}
@media screen and (max-width:480px ) {
  body p{
    font-size: 8px;
  }
  .main_category{
    display: none;
  }
  .market_products{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .Logo,.Links{
    display: none;
  }
}